/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
https://coolors.co/f7fff7-343434-2f3061-ffe66d-353919-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
#353919 - kombu green
#FB3640 - red salsa,  rgb (251, 54, 64)
#F7FFF7 - Mint Cream
*/

/* Global Styles
---------------------------------- */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: #ffe66d;
}

a:hover {
  text-decoration: none;
}
h1 {
  font-size: 80px;
  font-weight: 500;
  line-height: 1;
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

h1,
h2 {
  font-family: 'Caveat', cursive;
  margin: 0;
}

.content-wrap {
  /* width: 900px; */
  max-width: 900px;
  /* When the viewport is smaller than max value which is 900 px 
     it becomes same width as its container, to make it relative to 
     its container 85%. So this rule will be applied on small 
     screens < 900px.    */
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
  overflow: auto;
}
p {
  text-align: justify;
}

h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
  font-weight: 600;
}

.item-details h3 ~ p {
  margin: 0;
}

.divider > section {
  border-bottom: 1px dotted #343434;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}

/* Header
------------------------------------*/

/* Profile   
---------------------------------- */
header {
  background: #2f3061;
  color: #f7fff7;
  margin-top: 25px;
  /* text-align: center; */
}
.profile-img {
  width: 250px;
  border-radius: 20px;
  float: left;
  /* margin-right: 40px; */
}

/* Navigation
-------------------------*/
nav {
  text-align: center;
  background: aliceblue;
  position: fixed;
  top: 0;
  width: 100%;
  /*z-index: 100;*/
}

nav a {
  color: rgb(251, 54, 64);
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

nav a:hover {
  color: rgb(251, 54, 64, 0.5);
}
/* Projects   
---------------------------------- */
.projects {
  background: #f7fff7;
}
.projects a {
}

.projects .btn {
  color: #f7fff7;
  background: #2f3061;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}

.projects .btn:hover {
  background: rgba(47, 48, 97, 80%);
}

.project-item img {
  /* cursor: pointer; */
}

.project-item {
  overflow: hidden;
  padding: 25px 0;
  min-height: 100px;
}
/* .project-item img {
  float: left;
  margin-right: 20px;
} */
.project-item h3 {
  margin-top: 0;
}
/* Work Experience   
---------------------------------- */
.work-experience {
  background: #a1c6d7;
}
/* .job-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
  border-bottom: 1px dotted #343434;
} */
/* Certification   
---------------------------------- */
.certification {
  background: #353919;
  color: #f7fff7;
}
.certification-item {
  /* border-bottom: 1px dotted #f7fff7; */
}
/* Education   
---------------------------------- */
.education {
  background-image: url('../images/sharon-mccutcheon-unsplash.jpg');
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
.education p {
  width: 60%;
}
.education-item {
  /* border-bottom: 1px dotted #343434; */
}

/* Footer 
------------------------------------*/
footer a {
  color: #f7fff7;
  text-decoration: none;
}

footer a:hover {
  color: rgb(255, 230, 109, 0.8);
}
/* Contact Info   
---------------------------------- */
footer {
  background: #343434;
  color: #f7fff7;
  /* text-align: center; */
}

.contact-info a {
  padding: 10px;
  display: inline-block;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  /* display: flex;
  justify-content: center; */
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}

/* Responsive   
---------------------------------- */
/* Big Screens/ Desktops   
---------------------------------- */
@media screen and (min-width: 850px) {
  header,
  footer {
    text-align: center;
  }
  header p {
    text-align: center;
  }

  .column-narrow {
    width: 35%;
    float: left;
    min-height: 150%;
  }
  .column-wide {
    margin-left: 18px;
    width: 62%;
    float: left;
    min-height: 150%;
  }

  .project-item img {
    float: left;
    margin-right: 20px;
  }
  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
    border-bottom: 1px dotted #343434;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
  .hide-desktop {
    display: none;
  }
}
/* Small Screens/ Mobiles   
---------------------------------- */
@media screen and (max-width: 849px) {
  h1 {
    font-size: 50px;
    line-height: 0.9;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  header h2 {
    font-size: 20px;
  }
  header {
    text-align: center;
    /* margin-top: 0px; */
  }

  nav {
    /* display: none; */
    /* font-size: 10px; */
    height: 45px;
  }
  nav a {
    padding: 12px 12px;
  }

  footer h2 {
    font-size: 21px;
  }

  .column-narrow {
    float: none;
    height: unset;
    margin: 0 auto;
  }
  .column-wide {
    float: none;
    height: unset;
    width: unset;
  }
  .profile-img {
    width: 150px;
    border-radius: 20px;
    float: none;
    margin: 0 auto;
  }

  h2 {
    line-height: 1;
  }
  .contact-list a {
    padding: 5px;
  }
  .education {
    background-image: url('../images/joanna-kosinska-unsplash.jpg');
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
  }

  .hide-m {
    display: none;
  }
  footer .content-wrap {
    padding: 20px;
    text-align: center;
  }
}
