/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
https://coolors.co/f7fff7-343434-2f3061-ffe66d-353919-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
#353919 - kombu green
*/

/* Global Styles
---------------------------------- */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: #ffe66d;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 100px;
  font-weight: 500;
  line-height: 1;
}

h2 {
  font-size: 45px;
  font-weight: 400;
}

h1,
h2 {
  font-family: 'Caveat', cursive;
  margin: 0;
}

.content-wrap {
  width: 900px;
  margin: 0 auto;
  padding: 60px 0;
}
/* p {
  text-align: justify;
} */

/* Profile   
---------------------------------- */
header {
  background: #2f3061;
  color: #f7fff7;
}
/* Projects   
---------------------------------- */
.projects {
  background: #f7fff7;
}
.projects a {
}

.projects .btn {
  color: #f7fff7;
  background: #2f3061;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgba(47, 48, 97, 80%);
}
.project-item {
  overflow: hidden;
  border-bottom: 1px dotted #343434;
  padding: 25px 0;
}
.project-item img {
  float: left;
  margin-right: 20px;
}
.project-item h3 {
  margin-top: 0;
}
/* Work Experience   
---------------------------------- */
.work-experience {
  background: #a1c6d7;
}
/* Certification   
---------------------------------- */
.certification {
  background: #353919;
  color: #f7fff7;
}
/* Education   
---------------------------------- */
/* Contact Info   
---------------------------------- */
footer {
  background: #343434;
  color: #f7fff7;
}
