/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
https://coolors.co/f7fff7-343434-2f3061-ffe66d-353919-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
#353919 - kombu green
#FB3640 - red salsa,  rgb (251, 54, 64)
#F7FFF7 - Mint Cream
#F5F5DC - BEIGE
*/

/* Global Styles
---------------------------------- */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: #ffe66d;
}

a:hover {
  text-decoration: none;
}
h1 {
  font-size: 80px;
  font-weight: 500;
  line-height: 1;
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

h1,
h2 {
  font-family: 'Caveat', cursive;
  margin: 0;
}

#nav {
  z-index: 100;
}

.flag-small {
    width: auto;
    height: auto;
    text-align: center;
    line-height: 50px;
    border: 1px solid #bbb;
    margin: 10px;
    position: relative;
    background: #fff;
}

.flag-small:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    background: #00f;
    width: 33%;
    z-index: 4;
}
.flag-small:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    background: #f00;
    width: 33%;
    z-index: 4;
}

.content-wrap {
  /* width: 900px; */
  max-width: 900px;
  /* When the viewport is smaller than max value which is 900 px 
     it becomes same width as its container, to make it relative to 
     its container 85%. So this rule will be applied on small 
     screens < 900px.    */
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
  overflow: auto;
}
p {
  text-align: justify;
}

h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
  font-weight: 600;
}

.item-details h3 ~ p {
  margin: 0;
}

.divider > section {
  border-bottom: 1px dotted #343434;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}

.title-name--container {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-family: 'Caveat', cursive;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 2px;
  padding: 0;
}

.title-name--container-sm {
  display: none;
}

.title-name--title-gap {
  width:20px;
}

/* bubbly */
.title-name--title {
  animation-name: bubbly;
  animation-duration: calc(var(--i) * 1s);
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
}
/* keyframes */
@keyframes bubbly {
  0% {
    opacity: 0;
    /* transform: translateY(-100px); */
    transform: scale(0);
  }
  70% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
    transform: scale(1);
  }
}

/* rotating */
/* .title-name--title {
  animation-name: rotating;
  animation-duration: calc(var(--i) * 1s);
} */
/* keyframes */
@keyframes rotating {
  0% {
    opacity: 0;
    transform: rotateX(0deg);
  }

  100% {
    opacity: 1;
    transform: rotateX(720deg);
  }
}

/* lowerCase */
/* .title-name--title { 
  animation-name: lowerCase;
  animation-duration: calc(var(--i) * 1s);
  animation-fill-mode: forwards;
  animation-timing-function: linear; */
}
/* keyframes */
@keyframes lowerCase {
  80% {
    text-transform: lowercase;
  }
  100% {
    text-transform: uppercase;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#project-live-btn {
  background: linear-gradient(270deg, #6e7f8d, #b2becd, #6e7f8d, #b2becd);
  background-size: 400% 400%;
  color: #fff;
  height: 50px;
  min-width: 150px;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  position: relative;
  transition: all 0.3s ease;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px 20px;
  margin-top: 5px;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: gradientAnimation 5s ease infinite;
  overflow: hidden;
}

#project-live-btn:hover {
  background: linear-gradient(270deg, #7a8da1, #c3cdd3); /* Lighter and softer gradient on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly larger shadow for subtle depth */
}

#project-live-btn:active {
  transform: scale(0.98); /* Slight scale down on click */
}



#project-live-btn #circle {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 500ms;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#project-live-btn:hover #circle {
  height: 50px;
  width: 150px;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid #eee;
}

/* Header
------------------------------------*/

/* Switch Button */
/* Style for the container */
.top-right {
  position: fixed; /* Fixed position */
  top: 65px;
  right: 15px; /* 50px from the right */
  z-index: 1000; /* Ensure it's above other elements */
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Align items vertically */
}

/* Styles for the switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px; /* Space between switch and label */
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px; /* Rounded corners */
  z-index: 1; /* Ensure the switch is above the label */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%; /* Rounded corners */
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.language-label {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  position: relative;
  left: 12px;
  top: 5px;
  z-index: 2;
}

/* Change label text when switch is active */
#language-toggle:checked + .slider + .language-label {
  content: 'EN';
}


/* Profile   
---------------------------------- */
header {
  background: #2f3061;
  color: #f7fff7;
  margin-top: 25px;
  /* text-align: center; */
}
.profile-img {
  width: 300px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  border-radius: 50%; /* Creates a circular shape */
  float: none;
  margin: 0 auto; Center the image
}

.b2-img {
  width: 15px;
}

/* Navigation
-------------------------*/
nav {
  text-align: center;
  background: aliceblue;
  position: fixed;
  top: 0;
  width: 100%;
  /*z-index: 100;*/
}

nav a {
  color: rgb(251, 54, 64);
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

nav a:hover {
  color: rgb(251, 54, 64, 0.5);
}
/* Projects   
---------------------------------- */
.projects {
  background: #F5F5DC;
}
.projects a {
}

.projects .btn {
  color: #f7fff7;
  background: #2f3061;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}

.projects .btn:hover {
  background: rgba(47, 48, 97, 80%);
}

.project-item img {
  /* cursor: pointer; */
}

.project-item {
  overflow: hidden;
  padding: 25px 0;
  min-height: 100px;
}
/* .project-item img {
  float: left;
  margin-right: 20px;
} */
.project-item h3 {
  margin-top: 0;
}

/* Overall Experience   
---------------------------------- */
.overall-experience {
  background: #f7fff7;
}

/* Work Experience   
---------------------------------- */
.work-experience {
  background: #a1c6d7;
}

.linkedin-btn {
  color: #2F3061;
}

.work-experience a {
  color: #343434;
}

.work-experience a:hover {
  color: rgb(52, 52, 52, 0.8);
}

.job-details a {
  text-decoration: none;
}

.job-details a:hover {
  color: rgb(47, 48, 97, 0.6);
}

/* .job-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
  border-bottom: 1px dotted #343434;
} */
/* DELF B2 Certification   
---------------------------------- */
 .delf-b2 {
  position: relative;
  font-size: 12px;
  color: black;
  z-index: 16;
  background: #f7fff7;
  padding: 20px;
}

section.certification-item-b2 {
  text-align: left;
  line-height: 30px;
}

.delf-b2-content {
    padding-top: 15px;
}

p.certification-item-b2 {
  display: inline-block;
  line-height: 16px;
  padding-top: 10px;
}

.content-wrap.item-details.delf-b2 {
  padding: 20px;
}

a.btn-b2 {
  color: red;
}

.delf-b2-content-img {
  width: 100%;
  padding-top: 10px;
}

.flag {
    width: auto;
    height: auto;
    text-align: center;
    line-height: 50px;
    border: 1px solid #bbb;
    margin: 10px;
    position: relative;
    background: #fff;
}

.flag:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    background: #00f;
    width: 33%;
    z-index: 4;
}
.flag:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    background: #f00;
    width: 33%;
    z-index: 4;
}

.widget-description .widget-link {
  color: #007bff; /* Default link color */
  text-decoration: none; /* No underline by default */
  transition: color 0.3s ease; /* Smooth transition for color */
}

.widget-description .widget-link:hover, .widget-description .widget-link:focus {
  color: #0056b3; /* Darker color on hover */
  text-decoration: underline; /* Underline on hover */
}

.widget-description .widget-project-live-btn {
  display: inline-block;
  background: linear-gradient(270deg, #6e7f8d, #b2becd);
  background-size: 400% 400%;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin: 5px 0;
  text-align: center;
  animation: gradientAnimation 5s ease infinite;
}

.widget-description .widget-project-live-btn:hover {
  background: linear-gradient(270deg, #7a8da1, #c3cdd3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none; /* No underline on hover for the button */
}

.widget-description .widget-project-live-btn:active {
  transform: scale(0.98); /* Slight scale down on click */
}

/* Certification   
---------------------------------- */
.certification {
  background: #353919;
  color: #f7fff7;
}
.certification-item {
  /* border-bottom: 1px dotted #f7fff7; */
}

/* .certification .btn {
  color: #343434;
  background: rgb(255, 230, 109);
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
} */

.certification .btn:hover {
  /* background: rgb(255, 230, 109, 0.8); */
  text-decoration: none;
}

/* Education   
---------------------------------- */
.education {
  background-image: url('../images/sharon-mccutcheon-unsplash.jpg');
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
.education p {
  width: 60%;
}
.education-item {
  /* border-bottom: 1px dotted #343434; */
}

/* Footer 
------------------------------------*/
footer a {
  color: #f7fff7;
  text-decoration: none;
}

footer a:hover {
  color: rgb(255, 230, 109, 0.8);
}
/* Contact Info   
---------------------------------- */
footer {
  background: #343434;
  color: #f7fff7;
  /* text-align: center; */
}

.contact-info a {
  padding: 10px;
  display: inline-block;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  /* display: flex;
  justify-content: center; */
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}

/* Responsive   
---------------------------------- */
/* Big Screens/ Desktops   
---------------------------------- */
@media screen and (min-width: 860px) {
  header,
  footer {
    text-align: center;
  }
  header p {
    text-align: center;
  }

  .column-narrow {
    width: 35%;
    float: left;
    min-height: 150%;
  }
  .column-wide {
    margin-left: 18px;
    width: 62%;
    float: left;
    min-height: 150%;
  }

  .project-item img {
    float: left;
    margin-right: 20px;
  }
  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
    border-bottom: 1px dotted #343434;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
  .hide-desktop {
    display: none;
  }
}
/* Small Screens/ Mobiles   
---------------------------------- */
@media screen and (max-width: 859px) {
  /* .title-name--container {
    font-size: 3rem;
    gap: unset;
  } */

  .title-name--container {
    display: none;
  }

  .title-name--container-sm {
    display: block;
  }

  .title-name--title-gap {
    width:10px;
  }

  h1 {
    font-size: 50px;
    line-height: 0.9;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  header h2 {
    font-size: 20px;
  }
  header {
    text-align: center;
    /* margin-top: 0px; */
  }
  header p {
    text-align: center;
  }

  /* header .content-wrap {
    padding: 50px 0px;
  } */

  nav {
    /* display: none; */
    /* font-size: 10px; */
    height: 45px;
  }
  nav a {
    padding: 12px 12px;
  }

  nav a .show-github {
    position: relative;
  }

  .icon-github {
    position: absolute;
    top: 16px;
  }

  footer h2 {
    font-size: 21px;
  }

  .content-wrap {
    padding: 50px 0px;
  }

  .column-narrow {
    float: none;
    height: unset;
    margin: 0 auto;
  }
  .column-wide {
    float: none;
    height: unset;
    width: unset;
  }
  
.profile-img {
  width: 180px; /* Adjust width as needed */
  height: 180px; /* Adjust height as needed */
  border-radius: 50%; /* Creates a circular shape */
  float: none;
  margin: 0 auto; Center the image
}

  
  .b2-img {
    width: 15px; */
    margin-bottom: 5px;
  }
  .b2-img-none {
    display: none;
  }

  h2 {
    line-height: 1;
  }
  .contact-list a {
    padding: 5px;
  }
  .education {
    background-image: url('../images/joanna-kosinska-unsplash.jpg');
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
  }

  .hide-m {
    display: none;
  }
  footer .content-wrap {
    padding: 20px;
    text-align: center;
  }
}
